extends ../shared/template
block content
  h2 Cart
  .panel.panel-default
    .panel-body
      form(method='post', action='/cart')
        input(type='hidden', name='_method', value='delete')
        button.btn.btn-warning(type='submit') Clear Cart
      form(action='/charge', method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key=key, data-image='http://placepuppy.it/125/125', data-name='Mikey\'s Amazon', data-description='Your cart', data-amount=Math.round(total * 100))
      table.table.table-hover.table-condensed
        thead
          tr
            th Name
            th Photo
            th Price
            th Count
            th Total
        tbody
          each id in ids
            tr
              td= products[id].p.name
              td: img(src=products[id].p.photo style="width: 100px;")
              td $#{products[id].p.price.toFixed(2)}
              td= products[id].c
              td= '$' + subtotal.toFixed(2)
          tr
            td
            td
            td
            td Tax
            td $#{tax.toFixed(2)}
          tr
            td
            td
            td
            td Total
            td $#{total.toFixed(2)}
          tr
            td
            td
            td
            td Total
            td $#{(subtotal * 1.075).toFixed(2)}



block scripts
  script(src='/js/user/home.js')

